body {
    background-color: #f8f9fa;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 6em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
}
